.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

h1, h2 {
    font-family: 'Arial', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin: 20px;
}