/* spotify/profile.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #E0E7EF;
    overflow-x: hidden;
}

/* main container */
.container {
    position: relative;
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin: auto;
    /* padding: 20px; */
}

.user-info, .wrapped-link, .logout, .time-range-buttons {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

h1 {
    font-size: 80px;
    margin-bottom: 10px;
    color: #333;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

.profile-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.spotify-logo {
    width: 25px;
    height: 25px;
    margin-left: 8px;
    vertical-align: middle;
}

.profile-image {
    width: 200px; /* Adjust size as needed */
    height: 200px; /* Match width for a perfect circle */
    border-radius: 50%; /* This makes the image circular */
    object-fit: cover; /* Ensures the image fills the circle */
    margin-right: 30px;
    
}

.name-and-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}


.spotify-link {
    color: #666; /* Light grey color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Optional: make it bold for better visibility */
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
}

.spotify-link:hover {
    color: #333; /* Darker grey on hover */
}

p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 10px;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the parent's text color */
}

button {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.wrapped-link {
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between buttons */
}

.wrapped-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #88A3C1;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.wrapped-button:hover {
    background-color: #76A1B6;
}

.logout a {
    color: #88A3C1;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.logout a:hover {
    color: #76A1B6;
}

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

h1, h2 {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

button {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin: 20px;
}

#time-range-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Space between buttons */
    margin-bottom: 20px; /* Space below the button section */
}

#time-range-buttons a {
    display: inline-block;
    padding: 12px 82px; /* Button padding */
    background-color: #88A3C1; /* Spotify green color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth hover transition */
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    white-space: nowrap; /* Prevent text from wrapping */
    font-size: 19px;
}

#time-range-buttons a:hover {
    background-color: #76A1B6; /* Darker green on hover */
}

#time-range-buttons a.active {
    background-color: #4e92d7e2; /* Even darker green for active button */
    pointer-events: none; /* Disable clicking on the active button */
}

.back-home {
    text-align: center;
    margin-top: 20px;
}

.back-home-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #3b5998;  /* Button background color */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.back-home-button:hover {
    background-color: #2a4374; /* Darker on hover */
    transform: translateY(-2px); /* Lift effect on hover */
}

.settings-button {
    position: fixed; /* Fix the position relative to the viewport */
    top: 10px; /* Adjust the distance from the top */
    right: 10px; /* Adjust the distance from the right */
    z-index: 1000; /* Ensure it appears above other elements */
    width: 50px; /* or any desired size */
    height: auto; /* Keeps the aspect ratio */
}

.settings-button button {
    padding: 10px; /* Padding for the button */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
    font-size: 18px; /* Font size */
    font-weight: 400;
    font-style: normal;
}

.settings-button button:hover {
    background-color: #76A1B6; /* Change background color on hover */
}

.contact-us-button {
    position: fixed; /* Fix the position relative to the viewport */
    bottom: 10px; /* Adjust the distance from the bottom */
    left: 10px; /* Adjust the distance from the left */
    z-index: 1000; /* Ensure it appears above other elements */
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #88A3C1;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    outline: none;
    border: none;
}

.contact-us-button button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #88A3C1;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    outline: none;
    border: none;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.contact-us-button button:hover {
    background-color: #76A1B6; /* Change background color on hover */
}

.roboto-black-italic {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: italic;
  }
  
  .roboto-black {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
  }

  /* Dark Mode Toggle Styles */
.dark-mode-toggle {
    position: fixed;
    top: 20px; /* Distance from the top of the page */
    left: 20px; /* Distance from the left of the page */
    z-index: 1000; /* Ensure it is above other elements */
}

/* The switch - hide the checkbox */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide the default checkbox appearance */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider (round) */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

/* The slider before (circle) */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

/* When checked, change the background color */
input:checked + .slider {
    background-color: #4e92d7e2; /* Darker green */
}

/* When checked, move the slider */
input:checked + .slider:before {
    transform: translateX(26px); /* Moves the circle to the right */
}

/* Optional: Add a hover effect */
.slider:hover {
    background-color: #76A1B6;
}

/* Responsive Styles */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    .profile-image {
        width: 120px;
        height: 120px;
        margin-right: 10px;
    }

    .profile-details {
        flex-direction: column;
        align-items: center;
    }

    .spotify-link, p, .wrapped-button {
        font-size: 0.9em;
    }

    #time-range-buttons a {
        padding: 10px 20px;
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .user-info, .wrapped-link, .logout, .time-range-buttons {
        padding: 15px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    .spotify-link, p, button {
        font-size: 0.8em;
    }

    #time-range-buttons a {
        padding: 10px 50px;
        font-size: 0.8em;
    }

    .dark-mode-toggle, .settings-button, .contact-us-button {
        width: 40px;
    }
    .profile-image {
        width: 180px; /* Larger image size */
        height: 180px;
        margin-top: 15px;
    }

    .name-and-link {
        align-items: center;
        font-size: 1.5em;
        margin-top: -2px;
    }

    .spotify-link {
        font-size: 1em; /* Adjust font size for better readability */
    }
}