/* General reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; /* Make body take full height of viewport */
    overflow: hidden; /* Prevent scrolling */
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #333; /* Dark background */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Full-screen container */
.container-full {
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    background-color: #E0E7EF;
    padding: 20px; /* Small padding around the content */
}

/* Progress bars for each slide */
.progress-bars {
    display: flex;
    justify-content: space-between;
    width: 80%; /* Width of the progress bar */
    height: 6px;
    margin-bottom: 20px; /* Place bar at the top of container */
    position: absolute;
    top: 10px; /* Fix the bar at the top */
}

.progress-bar {
    background-color: #333;
    height: 100%;
    flex: 1;
    margin: 0 5px;
}

.progress-bar.active {
    background-color: #95B3D6; /* Spotify green for active state */
}

/* Slide Styles */
.slides {
    text-align: center;
    display: none; /* Hide all slides by default */
}

.slides.active {
    display: block; /* Show the active slide */
}

/* Images for tracks, artists, recommendations */
img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

/* Text and headings */
h2, p {
    margin-bottom: 10px;
}

/* Audio player styling */
audio {
    max-width: 150px;
    margin-top: 10px;
}

/* List styling for items like tracks, artists, recommendations */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

li p {
    margin-left: 10px; /* Space between image and text */
}
