{% load i18n %}

<div class="duo-wrap">
    <h1>{% trans "Duo Wrapped" %}</h1>
    <h2>{{ duo_wrap.user_one.username }} & {{ duo_wrap.user_two.username }}</h2>

    <h3>{% trans "Shared Top Songs" %}</h3>
    <ul>
        {% for song in duo_wrap.shared_top_songs %}
            <li>{{ {% trans "song" %} }}</li>
        {% endfor %}
    </ul>

    <h3>{% trans "Shared Top Artists" %}</h3>
    <ul>
        {% for artist in duo_wrap.shared_top_artists %}
            <li>{{ {% trans "artist" %} }}</li>
        {% endfor %}
    </ul>

    <h3>{% trans "Common Genres" %}</h3>
    <ul>
        {% for genre in duo_wrap.common_genres %}
            <li>{{ {% trans "genre" %} }}</li>
        {% endfor %}
    </ul>
</div>
