{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Spotify Wrapped</title>
    <link rel="stylesheet" href="{% static 'spotify/login.css' %}">
</head>
<body>
    <div class="container">
        <h1>Your Spotify Wrapped</h1>
        <p>Get started by connecting your Spotify account</p>
        <a href="{% url 'redirect' %}" class="connect-button">Click Here</a>
    </div>
</body>
</html>