{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'spotify/profile.css' %}?v={{ STATIC_VERSION }}">
</head>
<body>
    <div class="container">
    <!-- User Information Section -->
    <div class="user-info">
        <h1>Welcome, {{ request.user.first_name }}</h1>
        {% if user_data.email %}
            <p>Email: {{ user_data.email }}</p>
        {% endif %}
        {% if user_data.country %}
            <p>Country: {{ user_data.country }}</p>
        {% endif %}
        {% if user_data.external_urls and user_data.external_urls.spotify %}
            <p>Spotify URL: <a href="{{ user_data.external_urls.spotify }}">Spotify URL</a></p>
        {% endif %}
    </div>
    
    <!-- Time Range Selection Buttons -->
    <div id="time-range-buttons">
        <a href="{% url 'profile' %}?time_range=short_term" {% if selected_time_range == 'short_term' %}class="active"{% endif %}>Last Month</a>
        <a href="{% url 'profile' %}?time_range=medium_term" {% if selected_time_range == 'medium_term' %}class="active"{% endif %}>Last 6 Months</a>
        <a href="{% url 'profile' %}?time_range=long_term" {% if selected_time_range == 'long_term' %}class="active"{% endif %}>All Time</a>
    </div>
    

    <!-- Link to Wrapped Page -->
    <div class="wrapped-link">
        <a href="{% url 'wraps' %}?time_range={{ selected_time_range }}" class="wrapped-button">View Your Wraps</a>
    </div>

    <div class="wrapped-library">
        <a href="{% url 'wraps_library' %}">View Wraps Library</a>
    </div>

    <div class="logout">
        <a href="{% url 'logout' %}">Logout</a>
    </div>

    </div>
</body>
</html>