{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Wrapped</title>
    <link id="theme-style" rel="stylesheet" href="{% static 'spotify/wraps-light.css' %}">
    <script src="{% static 'spotify/slideshow.js' %}" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Afacad:wght@577&family=Bungee&family=Bungee+Shade&family=Luckiest+Guy&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

</head>
<body data-page="wraps">

    <!-- Full-screen slideshow container -->
    <div class="container-full">

        <!-- Thin Progress bars for each slide -->
        <div class="progress-bars">
            <div class="progress-bar" onclick="goToSlide(0)"></div>
            <div class="progress-bar" onclick="goToSlide(1)"></div>
            <div class="progress-bar" onclick="goToSlide(2)"></div>
            <div class="progress-bar" onclick="goToSlide(3)"></div>
            <div class="progress-bar" onclick="goToSlide(4)"></div>
            <div class="progress-bar" onclick="goToSlide(5)"></div>
            <div class="progress-bar" onclick="goToSlide(6)"></div>
        </div>

        <!-- Slide 1: Intro Slide -->
        <div class="slides active" id="slide1">
            <div class="jagged-shape1"></div>
            <div class="jagged-outline1"></div>
            <div class="jagged-shape2"></div>
            <div class="jagged-outline2"></div>
            <div class="bounce-in">
                <section id="intro">
                    <h2>Welcome to Your Spotify Wrapped</h2>
                    <p>Let’s take a look at your music habits over {{ time_range_label }}!</p>
                </section>
            </div>
        </div>

        <!-- Slide 2: Total Playback Time with Peak Day
        {% comment %} <div class="slides" id="slide2">
            <div class="jagged-shape3"></div>
            <div class="jagged-shape4"></div>
            <div class="jagged-outline3"></div>
            <div class="jagged-outline4"></div>
            <img src="{% static 'images/clock-icon.png' %}" alt="Clock Icon" class="clock-image">
            <section id="total-playback-time">
                <h2>My Minutes Listened</h2>
                <p>You have listened to approximately {{ total_playback_minutes }} minutes in {{ time_range_label }}.</p>
                {% if peak_day %}
                    <p>Your peak listening day was <strong>{{ peak_day }}</strong> with <strong>{{ peak_minutes }}</strong> minutes listened.</p>
                {% endif %}
            </section>
        </div> {% endcomment %} -->

        <!-- Slide 3: Top Genres -->
        <div class="slides" id="slide3">
            <div class="jagged-shape3"></div>
            <div class="jagged-shape4"></div>
            <div class="jagged-outline3"></div>
            <div class="jagged-outline4"></div>
            <div class="flip-in">
                <section id="top-genres">
                    <h2>My Top Genres</h2>
                    <ul>
                        {% for genre, count in top_genres %}
                            <li>
                                <strong>{{ forloop.counter }}.</strong> {{ genre }}
                            </li>
                        {% empty %}
                            <li>No top genres available.</li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
            <div class="floating-icons-container"></div>
        </div>
        


        <!-- Slide 3: Top Tracks -->
        <div class="slides" id="slide4">
            <div class="jagged-shape5"></div>
            <div class="jagged-shape6"></div>
            <div class="jagged-outline5"></div>
            <div class="jagged-outline6"></div>
            <div class="perspective-tilt">
                <section id="top-tracks">
                    <h2>My Top Songs</h2>
                    <ul>
                        {% for track in top_tracks %}
                            <li>
                                <strong>{{ forloop.counter }}.</strong>
                                <img src="{{ track.album.images.0.url }}" alt="{{ track.name }}" width="100">
                                <p>{{ track.name }} by {{ track.artists.0.name }}</p>
                            </li>
                        {% empty %}
                            <li>No top tracks available.</li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
            <div id="falling-emojis-container"></div>
        </div>

        <!-- Slide 4: Mood Analysis (Vibe)
        <div class="slides" id="slide5">
            <div class="jagged-shape7"></div>
            <div class="jagged-shape4"></div>
            <div class="jagged-shape8"></div>
            <div class="zoom-in">
                <section id="audio-mood">
                    <div class="content-container">
                        <h2>My Vibe</h2>
                        <li>
                            <p><strong>Danceability:</strong> {{ avg_danceability|floatformat:2 }} (How much your tracks make you want to dance)</p>
                            <p><strong>Energy:</strong> {{ avg_energy|floatformat:2 }} (How energetic and intense your music is)</p>
                            <p><strong>Happiness (Valence):</strong> {{ avg_valence|floatformat:2}} (How positive your tracks feel)</p>
                        </li>
                    </div>
                </section>
            </div>
        </div> -->


        <!-- Slide 5: Transition Slide (Who's your #1) -->
        <div class="slides" id="slide6">
            <div class="jagged-shape3-1"></div>
            <div class="jagged-shape4-1"></div>
            <section id="extra-slide">
                <h2>HMM... Who's that special someone?</h2>
                <p>Someone you just can't stop listening to...</p>
            </section>
        </div>

        <!-- Slide 6: #1 Artist Deep Dive -->
        <div class="slides" id="slide7">
            <div class="jagged-shape12"></div>
            <div class="jagged-outline12"></div>
            <div class="jagged-shape13"></div>
            <div class="jagged-shape13-1"></div>
            
            <div class="blur-to-clear">
                <div class="glowing-sun"></div>
                <section id="top-artist-deep-dive">
                {% if top_artist %}
                        <h2>Your #1 Artist: {{ top_artist.name }}</h2>
                        <img src="{{ top_artist.images.0.url }}" alt="{{ top_artist.name }}" width="100">
                        <p><strong>Genres:</strong> {{ top_artist.genres|join:", " }}</p>
                        <p><strong>Popularity:</strong> {{ top_artist.popularity }} / 100</p>
                        <p><strong>Followers:</strong> {{ top_artist.followers.total|floatformat }}</p>
                {% else %}
                    <h2>No top artist available</h2>
                    <p>It seems like you haven't listened to enough music recently to have a top artist.</p>
                {% endif %}
                <div id="floating-hearts-container"></div>
                </section>
            </div>
        </div>

        <!-- Slide 7: Top Artists -->
        <div class="slides" id="slide8">
            <div class="jagged-shape5"></div>
            <div class="jagged-shape6"></div>
            <div class="jagged-outline5"></div>
            <div class="jagged-outline6"></div>
            <div class="perspective-tilt">
                <section id="top-artists">
                    <h2>My Top Artists</h2>
                    <ul>
                        {% for artist in artists %}
                            <li>
                                <strong>{{ forloop.counter }}.</strong>
                                <img src="{{ artist.images.0.url }}" alt="{{ artist.name }}" width="100">
                                <p>{{ artist.name }}</p>
                            </li>
                        {% empty %}
                            <li>No top artists available.</li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
            <div id="falling-stars-container"></div>
        </div>

        <!-- Slide 8: Recommended Songs
        <div class="slides" id="slide9">
            <div class="jagged-shape8"></div>
            <div class="jagged-outline8"></div>
            <div class="jagged-shape10"></div>
            <div class="jagged-outline10"></div>
            <div class="jagged-shape11"></div>
            <div class="jagged-outline11"></div>
            <div class="slide-left">
                <section id="recommendations">
                    <div class="content-container1">
                        <h2>Recommended Songs</h2>
                        <ul>
                            {% for rec in recommendations %}
                                <li>
                                    <img src="{{ rec.album.images.0.url }}" alt="{{ rec.name }}" width="100">
                                    <p>{{ rec.name }} by {{ rec.artists.0.name }}</p>
                                    {% if rec.preview_url %}
                                        <audio controls>
                                            <source src="{{ rec.preview_url }}" type="audio/mpeg">
                                            Your browser does not support the audio element.
                                        </audio>
                                    {% else %}
                                        <p>No preview available</p>
                                    {% endif %}
                                </li>
                            {% empty %}
                                <p>No recommendations available.</p>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            </div>
        </div> -->

        <!-- Slide 9: Save Wrap -->
        <div class="slides" id="slide10">
            <div class="jagged-shape1"></div>
            <div class="jagged-outline1"></div>
            <div class="jagged-shape2"></div>
            <div class="jagged-outline2"></div>


            {% comment %} <div class="jagged-shape1-1"></div>
            <div class="jagged-shape2-1"></div>
            <div class="jagged-outline1"></div>
            <div class="jagged-outline2"></div> {% endcomment %}
            <div class="shake">
                <section id="save-delete">
                    <h2>Back to Library</h2>
                    <div class="back-home">
                        <a href="{% url 'wraps_library' %}" class="back-home-button">Exit</a>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script>
        // Paths to your light and dark CSS files by page
        const themePaths = {
            profile: {
                light: "{% static 'spotify/profile-light.css' %}",
                dark: "{% static 'spotify/profile-dark.css' %}",
            },
            wraps: {
                light: "{% static 'spotify/wraps-light.css' %}",
                dark: "{% static 'spotify/wraps-dark.css' %}",
            },
            wraps_library: {
                light: "{% static 'spotify/library-light.css' %}",
                dark: "{% static 'spotify/library-dark.css' %}",
            },
            game: {
                light: "{% static 'spotify/game-light.css' %}",
                dark: "{% static 'spotify/game-dark.css' %}",
            },
        };
    
        // Get references to elements
        const themeStyle = document.getElementById('theme-style');
        const darkModeToggle = document.getElementById('dark-mode-toggle');
        const darkModeText = document.getElementById('dark-mode-text');
        const darkModeIcon = document.getElementById('dark-mode-icon');
        const currentPage = document.body.dataset.page;
    
        // Function to apply the theme
        function applyTheme(theme) {
            if (currentPage && themePaths[currentPage]) {
                themeStyle.setAttribute('href', theme === 'dark' ? themePaths[currentPage].dark : themePaths[currentPage].light);
            }
            if (darkModeText) {
                darkModeText.textContent = theme === 'dark' ? 'Dark Mode' : 'Light Mode'; // Update text dynamically
            }
            if (darkModeIcon) {
                darkModeIcon.src = theme === 'dark' ? "{% static 'images/darkmode.png' %}" : "{% static 'images/lightmode.png' %}";
            }
            if (darkModeToggle) {
                darkModeToggle.checked = theme === 'dark';
            }
        }
    
        // Initialize theme from localStorage
        const savedTheme = localStorage.getItem('theme') || 'light';
        applyTheme(savedTheme);
    
        // Listen for toggle changes and update theme dynamically
        if (darkModeToggle) {
            darkModeToggle.addEventListener('change', () => {
                const newTheme = darkModeToggle.checked ? 'dark' : 'light';
                localStorage.setItem('theme', newTheme); // Save theme to localStorage
                applyTheme(newTheme); // Apply theme to current page
            });
        }
    
        // Listen for theme changes across tabs
        window.addEventListener('storage', (event) => {
            if (event.key === 'theme') {
                applyTheme(event.newValue); // Apply the new theme when detected
            }
        });
    </script>
    
    
</body>
</html>